@{
    ViewBag.Title = "XacNhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đơn đặt hàng thành công chúng tôi sẽ liên hệ bạn</h2>
<div>
    <a href="@Url.Action("TrangChu","TrangChu")" style="text-decoration:none;font-size:18px;font-weight:bold">Tiếp tục mua hàng -></a>
</div>
