@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2 class="title_page">Store's Blogs</h2>
<br/>
  <h5 style="color:#0094ff"> Hơn 10.000 điện hoa được chúng tôi chuyển trong năm qua </h5>
<a>Không có một nơi nào tốt hơn để bạn lựa chọn cho một dịch vụ điện hoa chuyên nghiệp ngoài store chúng tôi.
     Bằng tất cả niềm đam mê và tận tâm, chúng tôi luôn chọn những bông hoa tươi nhất và sáng tạo lên những 
   mẫu hoa tuyệt vời để chuyển đến người thân yêu của bạn cùng với những lời chúc tốt đẹp.
     Với hơn 10.000 điện hoa được chúng tôi chuyển trong năm qua là một sự khởi đầu cho sự tin tưởng tuyệt vời.
     Ngoài các dịch vụ hoa tươi, hiểu được thêm nhu cầu của bạn, chúng tôi có liên kết với các hãng có uy tín để cung cấp thêm các dịch vụ khác. </a>

<h5 style="color:#0094ff">Cam kết: Nhanh nhất, giá tốt nhất, chất lượng nhất. </h5>
<a>Với sự liên tục cải tiến quy trình, chúng tôi nỗ lực đáp ứng trong vòng 2 giờ sẽ giao hoa cho người nhận,
     chúng tôi là một số ít công ty phục vụ dịch vụ điện hoa cho cả những mẫu hoa có giá từ 100.000đ (5$) mà không có phụ phí gì thêm. Ngoài ra, các mẫu hoa của chúng tôi có xác nhận bảo hành tươi tối thiểu 3 ngày trong điều kiện bình thường. </a>

<h5 style="color:#0094ff"> Cam kết 100% hài lòng </h5>
<a> Với nhiều năm kinh nghiệm phục vụ trong ngành điện hoa, chúng tôi hiểu mức độ quan trọng trong công việc của mình là truyền tải đúng và đủ thông điệp của người tặng đến người nhận. Vì thế chúng tôi cam kết 100% sự hài lòng của khách hàng với chúng dịch vụ của chúng tôi. Với bất cứ điều gì không hài lòng bạn đều được hoàn lại 100% phí dịch vụ đã chuyển cho chúng tôi. </a>
<br />
<br/>