@model IEnumerable<QuanLyBanHoa.Models.LoaiHoa>
@{
    ViewBag.Title = "Ynghia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2  class="title_page">Ý nghĩa của các loài hoa</h2>
<div style="padding-left: 20px; border:5px solid white; border-radius: 10px">
    @foreach(var item in Model)
    {
    <div>
        <a style="color:#ff0000; font-size:30px;font-weight:bold"> @item.TenLoai</a>
    </div>
    <div>
        <a style="font-size:20px">-@item.YNghia</a>
    </div>
    }
</div>